<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }
      async function notifyWhenDone() {
        var task_id=null;
        var ready=false;
        while (ready == false){
            try {
              toastr.info('checking with server to see if done.')
              const response = await axios.get("{{url_for('task_status',task_id=task_id)}}");
              console.log(response.data);
              await sleep(2000);
              ready = response.data.ready;
            } catch(error) {
              console.log(error);
            }
        }
        console.log('ready is true.')
        return task_id;
      }
      async function nextPagePlease(){
        // notify user
        toastr.info('heading to results page in 2 seconds.')
        await sleep(2000);
        // going to next page
        window.location = "{{url_for('task_status',task_id=task_id)}}";
      }
    </script>
  </head>
  <body onload="notifyWhenDone().then(res=>nextPagePlease());">
      long running task<br>
      task_id: {{task_id}}<br>
      <a href="{{url_for('task_status',task_id=task_id)}}">task_status</a>
  </body>
</html>

<!--
https://stackoverflow.com/questions/951021/what-is-the-javascript-version-of-sleep/39914235#39914235
https://stackoverflow.com/questions/49661209/get-response-from-axios-with-await-async/49661388#49661388
https://stackoverflow.com/questions/49601795/making-redirects-after-an-axios-post-request-with-express
https://github.com/axios/axios
https://codeseven.github.io/toastr
-->