{%if only_div == false %}
<!--
    https://stackoverflow.com/questions/9782328/how-to-put-hover-on-img-src-tag/9782446
    https://stackoverflow.com/questions/18032220/css-change-image-src-on-imghover
    https://www.bootstraptoggle.com/
    https://stackoverflow.com/questions/7354839/how-to-get-a-javascript-function-to-execute-only-once-on-dom-ready

    https://stackoverflow.com/questions/32586384/bootstrap-toggle-doesnt-work-after-ajax-load/61147326#61147326
    https://stackoverflow.com/questions/426258/setting-checked-for-a-checkbox-with-jquery
    *** https://stackoverflow.com/a/52347409/868736 ***
-->
<html>
<head>

    <style>
    body{
        width:100%;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .break {
        flex-basis: 100%;
        height: 10px;
    }
    .parent {
        position: relative;
        width: 260px;
        height: 260px;
        z-index: 1;
    }
    .child {
        display: inline-block;
        z-index: 1;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .overlay {
        display: inline-block;
        opacity: .5;
        z-index: 1;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    a:hover .overlay {
        display: inline-block;
        opacity: 0;
        z-index: 1;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    </style>


<!-- Notification CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- Notification -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    
<!-- Bootstrap  JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<!-- toggle -->
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<script>
    
    //ask before reload - as action will clear temp states in page.
    /*
    window.onbeforeunload = function() {
        return "are you sure?";
    }
    */

</script>


</head>

<body>

    <script>
        let axiosConfig = {
        headers: {
            'Content-Type': 'application/json;charset=UTF-8',
            "Access-Control-Allow-Origin": "*",
        }
        };
        function handleClickReview(button,case_id) {
            const url = "/review_status";
            const datastr = JSON.stringify({ case_id:case_id, reviewed:button.checked});
            const options = {
            method: 'POST',
            headers: { 'content-type': 'application/json' },
            data: datastr,
            url
            };
            axios(options).then(function (response){
                console.log(JSON.stringify(response.data));
                document.getElementById("reviewed"+case_id).innerHTML = response.data.reviewed;
            })
            .catch(function (error) {
                console.log(error);
            });
            console.log('reviewed',button.id,button.checked);
    
        };
        function handleClickAccept(button,case_id) {
    
            const url = "/review_status";
            const datastr = JSON.stringify({ case_id:case_id, acceptable:button.checked});
            const options = {
            method: 'POST',
            headers: { 'content-type': 'application/json' },
            data: datastr,
            url
            };
            axios(options).then(function (response){
                console.log(JSON.stringify(response.data));
                document.getElementById("acceptable"+case_id).innerHTML = response.data.acceptable;
            })
            .catch(function (error) {
                console.log(error);
            });
            console.log('acceptable',button.id,button.checked);
    
        };
    
        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }
        
    </script>
    
{% endif %}

<div class="container" id="div{{case_id}}">
<div class="break"></div>
case id: {{case_id}}
<div class="break"></div>
reviewed: <span id="reviewed{{case_id}}">{{reviewed}}</span>
<div class="break"></div>
acceptable: <span id="acceptable{{case_id}}">{{acceptable}}</span>
<div class="break"></div>
{% for k,v in case_dict.items() %}
<div class="parent">
<a>
   <img class="child" src="{{ url_for('static', filename=v.img)}}" width=256 />
   <img class="overlay" src="{{ url_for('static', filename=v.mask)}}" width=256 />
</a>
</div>
{% endfor %}
<script>
    var prefilled = false; //{{case_id}}
    function notifyWhenDone(case_id) {
        if (prefilled == false){
            toastr.options.toastClass = 'toastr';
            toastr.info('you are reviewing case_id',case_id);
            const url = "{{url_for('review_status')}}";
            const datastr = JSON.stringify({ case_id:case_id, prefill:true});
            const options = {
            method: 'POST',
            headers: { 'content-type': 'application/json' },
            data: datastr,
            url
            };
            axios(options).then(function (response){
                toastr.info(JSON.stringify(response.data));
                console.log("triggered..."+JSON.stringify(response.data));
                document.getElementById("reviewed"+case_id).innerHTML = response.data.reviewed;
                document.getElementById("acceptable"+case_id).innerHTML = response.data.acceptable;
                console.log('html updated');
                $("#reviewedCB"+case_id).prop('checked',response.data.reviewed).click();
                $("#acceptableCB"+case_id).prop('checked',response.data.acceptable).click();
                console.log('checkbox updated');
            })
            .catch(function (error) {
                console.log(error);
            });
            prefilled = true;
        };
        console.log('review ${button.id} ${button.checked}');
    }
    $("#div{{case_id}}").ready(function() {
            notifyWhenDone({{case_id}});
            $('input[type=checkbox][data-toggle^=toggle]').bootstrapToggle('destroy');
            $('input[type=checkbox][data-toggle^=toggle]').bootstrapToggle();
    });

</script>
<div class="break"></div>
<div style="width:10px"></div>
<input type="checkbox" data-width="400" data-height="100" checked data-toggle="toggle" data-on="reviewed" data-off="pending" data-onstyle="info" data-offstyle="default"  id='reviewedCB{{case_id}}' onchange='handleClickReview(this,{{case_id}});'>
<div style="width:10px" ></div>
<input type="checkbox" data-width="400" data-height="100" checked data-toggle="toggle" data-on="accept" data-off="reject" data-onstyle="success" data-offstyle="warning"  id='acceptableCB{{case_id}}' onchange='handleClickAccept(this,{{case_id}});'>
<div class="break" style="border-bottom:1px solid #000;width:10px"></div>
<div class="break"></div>


{%if only_div == false %}
</body>
</html>
{% endif %}
