<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Papaya</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="http://static.jstree.com/3.0.4/assets/dist/themes/default/style.min.css" />
    <link rel="stylesheet" type="text/css" href="http://rii.uthscsa.edu/mango/papaya/papaya.css?version=0.6.5&build=692" />
    <script type="text/javascript" src="http://rii.uthscsa.edu/mango/papaya/papaya.js?version=0.6.5&build=692"></script>

    <script type="text/javascript">
        var params = [];
        params["images"] = ["{{ url_for('static', filename=img_file)}}"];
        params["surfaces"] = ["{{ url_for('static', filename=surface_file)}}"];
    </script>

</head>
<body>
    <div class="papaya" data-params="params"></div>
</body>
</html>