<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Papaya</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="http://static.jstree.com/3.0.4/assets/dist/themes/default/style.min.css" />
    <link rel="stylesheet" type="text/css" href="http://rii.uthscsa.edu/mango/papaya/papaya.css?version=0.6.5&build=692" />
    <script type="text/javascript" src="http://rii.uthscsa.edu/mango/papaya/papaya.js?version=0.6.5&build=692"></script>

    <script type="text/javascript">
        var params = [];
        params["images"] = [[{% for n in range(0,20,1) %}"{{ url_for('dicom_file', instance_number=n, series_instance_uid='abc') }}",{% endfor %}]];
        params["ok"]
    </script>

</head>
<body>
    series_instance_uid: {{series_instance_uid}}<br>
    
    {% for n in range(0,20,1) %}
    <a href={{ url_for('dicom_file', series_instance_uid='abc',instance_number=n ) }}>{{n}}</a>
    {% endfor %}<br>
    
    <div class="papaya" data-params="params"></div>
</body>
</html>