<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}"> 
  <script src="{{ url_for('static', filename='dropzone-amd-module.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
</head>

<body>

  <form action="{{ url_for('upload',uid=uid) }}" class="dropzone" id="my-dropzone" method="POST" enctype="multipart/form-data">
  </form>
  
  <script>
    Dropzone.autoDiscover = false;
    
    $(function() {
      var myDropzone = new Dropzone("#my-dropzone");
      myDropzone.on("queuecomplete", function(file) {
        // Called when all files in the queue finish uploading.
        window.location = "{{ url_for('upload',uid=uid) }}";
      });
    })
    </script>
</body>

</html>


